* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: $f-primary;
  font-weight: 400;
  font-size: 1.4rem;
  background: #f5f5f5;
  // background: url(../images/bg.png);
  // background-position: fixed;
}

hr {
  border: none;
  height: 0.1rem;
  background: rgba($c-gold, .1);
}

img {
  max-width: 100%;
}

.eva {
  vertical-align: bottom;
}

.clearfix {
  display: block;
  clear: both;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}