// fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');

$f-primary: 'Nunito', sans-serif;
$f-mono: 'Ubuntu Mono', monospace;

// colors
$c-primary: #2f3535;
$c-gold: #bc9f49;

// radius
$radius-sm: .3rem;